<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Playwright Suite">
    <test name="Playwright Tests">
        <classes>
<!--            <class name="Tests.TC01_LoginTest"/>-->
<!--            <class name="Tests.TC02_AdminTable_GetUserTest"/>-->
<!--            <class name="Tests.TC03_AdminTable01_SortingTest"/>-->
<!--            <class name="Tests.TC04_AdminTable02_SortingTest"/>-->
<!--            <class name="Tests.TC05_Admin_SearchTest"/>-->
<!--            <class name="Tests.TC06_PaginationTest"/>-->
<!--            <class name="Tests.TC07_TooltipTest"></class>-->
<!--            <class name="Tests.TC08_SortDateTest"/>-->
<!--            <class name="Tests.TC09_DemoQA_TextBoxTest"/>-->
<!--            <class name="Tests.TC10_CheckboxesTest"/>-->
<!--            <class name="Tests.TC11_JotForm_RadioTest"/>-->
<!--            <class name="Tests.TC12_JotForm_SelectTest"/>-->
<!--            <class name="Tests.TC13_Jquery_DatePickerTest"/>-->
<!--            <class name="Tests.TC14_UploadFileTest"/>-->
            <class name="Tests.TC15_DownFileTest"/>
        </classes>
    </test>
</suite>
